@import url(https://fonts.googleapis.com/css?family=Montserrat);
.containeer{
  color: white;
}
.text-center{
   padding-top: 15%;
   font-size: clamp(1rem, 3vw, 2rem);
}
.col img{
width: 90%;
}
.container-text {
  display: flex;
  height: 100%;
  align-items: center;
}
svg {
    display: block;
    font: 6em 'Montserrat';
    width: 760px;
    height: 200px;
    margin: 0 auto;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 7.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ffffff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #ffffff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #bd007e;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #da0ab7;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}